body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1;
}

.container{
    margin: 0 auto;
    width: 296px;
    background-color: #e6f3fb;
    padding: 3px 10px 10px 10px;
}

.title{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

hr{
    border-top: 3px solid #f7a418;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0;
    margin-top: 1px;
}

.content{
    background-color: white; 
    overflow: hidden;
}

.content img{
    float: left;
    margin: 10px;
}

.content__info{
    padding-top: 10px;
}

.content__info--padding-top{
    padding-top: 25px;
}

.title__content--margin-bottom{
    margin-bottom: 13px;
}

.title__content{
    font-weight: bold;
    color: #0a6395;
}

.title__content--decor{
    color: black;
    font-size: 15px;
}

.title__content__date{
    color: #595959;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 10px;
}

.comment{
    margin-top: 0px;
    background-color: white;
}

.comment__text{
    color: #0a6395;
}

ul{
    list-style: none; 
    padding-left: 0;
    margin-bottom: 0;
}

.read__more {
    color: #0a6395;
    text-decoration: underline;
}

li{
    background-color: #f9f1c2; 
    margin-bottom: 1px;
    padding-left: 13px;
    line-height: 2.5;
}

.block--horoscopes img{
    float: left;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.block--horoscopes .content__info{
    font-size: 11px;
}

.content__horoscopes {
    margin-right: 12px;
    line-height: 1.2;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.italic{
    font-style: italic;
}

.note{
    background-image: url("../images/img-3.png");
    background-repeat: no-repeat;
    height: 46px;
    margin-top: 15px;
}

.note p{
    padding-left: 20px;
    padding-top: 10px;
}

.block--get__news{
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.block--get__news img{
    float: right;
    margin: 0;
    margin-left: 20px;
}

.news__info{
    margin: 25px 30px 15px 20px;
}

.news__info p{
    margin-bottom: 5px;
}

.block--competions{
    margin-top: 10px;
}

.block--competions hr{
    border-top: 1px solid #595959;
    margin-bottom: 3px;
}

.content--decor{
    border: 1px solid #4d5d73;
    color: #4d5d73;
    line-height: 1.2;
    padding: 10px 5px 10px 10px;
    margin-top: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}