body {
  min-width: 640px;
  font-size: 18px;
  padding-bottom: 5px;
  zoom: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;  
  height: auto;
}

.header {
  width: 100%;
  font-size: 0;
}

.banner, #intro {
  max-width: 640px;
  height: 50%;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.normal__text {
  text-align: left;
  min-height: 120px;
  line-height: 1.2;
}

.row {
  margin-top: 40px;
  text-align: center;
}

.row--nomargintop {
  margin-top: 0;
}

.time {
  text-align: left;
  background-color: #ccc;
  font-size: 14px;
  padding: 10px 0 10px 10px;
  margin-bottom: 35px;
}

.border__top {
  border-top: 1px solid black;
}

.blood {
  position: absolute;
  max-width: 640px;
  bottom: 5px;
  left: 0;
  display: none;
}

.footer {
  position: relative;
  margin-top: 120px;
  display: flex;
}

[class*="col-"] {   
  width: 100%;
  float: left;
  position: relative;
  padding: 1px;
}

.row::after {
  position: relative;
  content: "";
  clear: both;
  display: table;
}

.js-redtext__horror {
  color: #cc0000;
}

.js-whitetext__horror {
  color: #999;
}

.js-hr__horror {
  border-top: 1px solid #cc0000;
}

.js-red__area {
  background-color: #330000;
}

@media only screen and (min-width: 1280px) {
  .col-1 {width: 47%;}
  .col-2 {width: 4%;}
  .col-3 {width: 100%;}

  body {
    font-size: 24px;
  }

  .content {
    padding-left: 70px;
    padding-right: 30px;
  }

  .row--nomargintop {
    margin-top: 40px;
  }

  .container {
    max-width: 1280px;
  }

  .head {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #666;
    font-size: 60px;  
  }

  .blood {
    max-width: 1280px;
  }

  .banner, #intro {
    max-width: 1280px;
    height: 100%;
  }

  .normal__text {
    font-size: 16px;
  }
}

 