body {
  min-width: 640px;
  font-size: 14px;
  padding-bottom: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 100%;  
  height: auto;
}

.header {
  width: 100%;
  font-size: 0;
}

.title {
  font-size: 26px;
  letter-spacing: 2px;
}

.head {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #666;
  font-size: 32px;
  letter-spacing: 3px;
}

.caution {
  max-width: 170px;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.intro {
  background-color: #333;
  color: white;
  padding-top: 15px;
  padding-bottom: 5px;
}

.intro * {
  margin-bottom: 25px;
}

.fixtext {
  letter-spacing: 0;
  font-size: 18px;
}

.small__text {
  font-size: 12px;
}

.normal__text {
  text-align: left;
  min-height: 110px;
  line-height: 1.2;
}

.row {
  margin-top: 40px;
  text-align: center;
}

.small__title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.time {
  text-align: left;
  background-color: #ccc;
  font-size: 12px;
  padding: 10px 0 10px 10px;
  margin-bottom: 35px;
}

.border__top {
  border-top: 1px solid black;
}

.blood {
  position: absolute;
  max-width: 640px;
  bottom: 5px;
  left: 0;
  display: none;
}

.footer {
  position: relative;
  margin-top: 120px;
  display: flex;
}

[class*="col-"] {   
  width: 100%;
  float: left;
  position: relative;
  padding: 1px;
  /* border: 1px solid red; */
}

.row::after {
  position: relative;
  content: "";
  clear: both;
  display: table;
}

.js-redtext__horror {
  color: #cc0000;
}

.js-whitetext__horror {
  color: #999;
}

.js-hr__horror {
  border-top: 1px solid #cc0000;
}

.js-red__area {
  background-color: #330000;
}

@media only screen and (min-width: 1280px) {
  .col-1 {width: 47%;}
  .col-2 {width: 4%;}
  .col-3 {width: 100%;}

  .content {
    padding-left: 70px;
    padding-right: 30px;
  }

  .container {
    max-width: 1280px;
  }

  .head {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #666;
    font-size: 60px;  
  }

  .blood {
    max-width: 1280px;
  }

  .intro {
    padding-top: 40px;
    padding-bottom: 15px;
  }

  .title {
    font-size: 48px;
  }

  .caution {
    max-width: 339px;
  }

  .small__title {
    font-size: 32px;
  }

  .fixtext {
    font-size: 40px;
  }

  .small__text {
    font-size: 22px;
  }

  .normal__text {
    font-size: 17px;
  }
}

 