body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.6875em;
  color: #595959;
  background-color: #121214;
}

.container{
  margin: 0 auto;
  
  width: 930px;
  padding-top: 30px;
  padding-left: 70px;
}

.block_left{
  width: 50%;
  float: left;
}

.block_left--top{
  margin-top: 30px;
}

.block_left--bot{
  margin-top: 80px;
}

.title{
  color: white; 
}

.content {
  line-height: 1;
}

.group_image{
  float: left;
  margin-right: 30px;
  margin-bottom: 40px;
}

.group_info{
  margin-right: 8px;
}

hr{
  border-color: #121214;
  background-color: #121214;
  color: #121214;
}

.block_left hr{
  border-top: 1px dotted #595959;
  width: 420px;
}

.more_info img{
  margin-right: 4px;
  float: left;
}

.block_left_margin_left{
  margin-left: 20px;
}

.list{
  list-style: none;
  padding: 0px;
  margin-bottom: 15px;
  float: left;
}

.list--padding {
  padding-left: 20px;
}

li::before {
  content: url("../images/de2_03.png");
  margin-right: 2px;
}

li{
  margin-bottom: 7px;
  margin-right: 5px;
}

a{
  color: #595959;
}

.block_right{
  float: left;
  width: 25%;
  height: auto;
  background-color: #232227;
  position: relative;
  margin-left: 20px;
  padding-bottom: 50px;
}

.block_right hr{
  border: 1px solid #353439;
  width: 180px;
  margin-top: 55px;
}

.block_right_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block_right_margin_left{
  margin-left: 40px;
}

.--more_info_margin_top{
  margin-top: 40px;
}

.title_right{
  color: #767884;
}


