body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 10px;
    line-height: 1;
}

.container{
    margin: 0 auto;
    width: 296px;
    height: 720px;
    background-color: #e6f3fb;
    padding: 3px 10px 0px 10px;
}

.title{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

hr{
    border-top: 3px solid #f7a418;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.content{
    background-color: white; 
    overflow: hidden;
}

.block--blogroll {
    height: 220px;
}

.content img{
    float: left;
    margin: 10px;
}

.content_info{
    padding-top: 10px;
}

.content_info--padding-top{
    padding-top: 25px;
}

.title_content--margin-bottom{
    margin-bottom: 13px;
}

.title_content{
    font-weight: bold;
    color: #0a6395;
}

.title_content--decor{
    color: black;
    font-size: 15px;
}

.title_content_date{
    color: #595959;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 10px;
}

.comment{
    clear: both;
    background-color: #f9f1c2; 
    height: 25px;
    padding-left: 5px;
    padding-top: 7px;
    margin-bottom: 1px;
}

.comment_text{
    color: #0a6395;
}

.block--horoscopes{
    height: 220px;
}

.block--horoscopes img{
    float: left;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.block--horoscopes .content_info{
    font-size: 12px;
}

p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.italic{
    font-style: italic;
}

.note{
    background-image: url("../images/img-3.png");
    background-repeat: no-repeat;
    height: 46px;
    margin-top: 15px;
}

.note p{
    padding-left: 10px;
    padding-top: 10px;
}

.block--get_news{
    height: 113px;
    margin-top: 20px;
}

.block--get_news img{
    float: right;
    margin: 0;
}

.news_info{
    margin: 25px 30px 15px 20px;
}

.news_info p{
    margin-bottom: 5px;
}

.block--competions{
    margin-top: 30px;
}

.block--competions hr{
    border-top: 1px solid #595959;
}

.content--decor{
    border: 1px solid #4d5d73;
    color: #4d5d73;
    line-height: 1.2;
    padding: 10px 5px 10px 10px;
}