body{
  font-family: Georgia, "Times New Roman", Times, serif; 
  font-size: 15px; 
  margin: 0px; 
  padding-top: 5px;
}

.page{
  width: 500px; 
  margin: 0 auto; 
  border: 1px solid #0033FF; 
  padding-bottom: 6px; 
}

.user__avatar{
  float: left; 
  margin-left: 14px; 
  margin-right: 5px; 
  width: 90px;
  height: 100px;
}

.title__profile{
  line-height: 1.24;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 2px;
  background-repeat: no-repeat; 
  background-position: bottom; 
  background-image: url("../images/shadowTitle.png");
  background-size: 498px 12px;
}

.user__info{
  height: 105px;
  overflow: scroll;
  padding-left: 10px;
}

.title__fact{
  margin-top: 15px;
  padding-left: 2px;
}

.user__fact{
  margin-right: 30px;
}

ul{
  list-style: none;
  margin-bottom: 50px;
  padding-left: 50px;
}

li {
  margin-bottom: 7px;
}

li::before{
  content: url("../images/star.png");
  margin-right: 4px;
}

.comment__posted{
  position:relative;
  height:60px;
}

.comment__content:after{
  position:absolute;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 12px solid #ECECEC;
  top: 100%;
  left: 4%;
  content: "";
}
  
.comment__content{
  position: absolute;
  background-color:#ECECEC;
  width: 475px; 
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.07;
  margin-left: 2px;
  padding-left: 20px;
}

.comment__posted p {
  margin-top: 0px;
  margin-bottom: 0px;
}
  
.comment__detail{
  position: absolute;
  top: 44px;
  left: 55px;
  font-size: 13px;
  line-height: 1.23;
  margin-bottom: 5px;
}

.form__title{
  font-size: 17px;
  line-height: 0.6;
  margin-bottom: 3px;
  margin-top: 50px;
  text-align: center;
}

.form__label {
  width: 106px;
  line-height: 10px;
  margin-right: 5px;
}

.form__textarea {
  width: 375px;
  height: 84px;
  line-height: 0.6;
}

.row{
  margin-top: 3px;	
  margin-left: 5px;
  display: flex;
  align-items: center;
}

a:link {
  text-decoration: none;
}
  
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}