body {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  width: 1168px;
  margin: 0 auto;
  font-size: 0;
}

img {
  padding: 0;
  margin: 0;
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

li {
  float: left;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}

.button{
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0; 
  top: 75%;
}

.--left {
  left: 23.5%;
}

.--right {
  left: 4.5%;
}

.--top {
  top: 72%;
}

a:hover img {
  content: url(../images/jf_w_mango_3_btn_off_03.png);
}