body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 11px;
  margin: 0px;
  color: #595959;
}

.container{
  margin: 0 auto;
  width: 1263px;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-color: #121214;
  padding-bottom: 20px;
}

.nav{
  list-style: none;
  padding-inline-start: 0px;
  overflow: hidden;
}

.margin-left{
  margin-left: 69px;
}

.nav li{
  float: left;
  margin-right: 6px;
  margin-top: 195px;
}

.nav_text{
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 65px;
}

.nav a{
    text-decoration: none;
}


.block__left{
  float: left;
  background-color: #1f1f1f;
  width: 236px;
  padding-top: 43px;
  margin-right: 40px;
  padding-bottom: 20px;
}

hr{
  border-color: #121214;
  background-color: #121214;
  color: #121214;
}

.block__left hr{
  width: 190px;
}

.--hr_color01{
  border-top: 1px solid #7e7e7e;
}

.--hr_color02{
  border-top: 1px solid #2c2c2c;
}

.block_left__content{
  margin-top: 27px;
  margin-left: 30px;
  font-size: 13px;
  color: #595959;
  margin-bottom: 69px;
}

.block__left ul{
  list-style: url("../images/lst_style.png");
  margin-top: 32px;
  padding-inline-start: 50px;
}

.block__left li{
  margin-bottom: 10px;
}

.block__left a{
  font-size: 13px;
  color: #595959;
}

.footer a {
  color: #595959;
}

.block__right{
  float: left;
  width: 410px;
  margin-bottom: 60px;
}

.image{
    margin-top: 43px;
}

.textbox{
  margin-top: 20px;
  width: 110px;
  background-color: #2c2c2c;
  border: none;
}

.block_right_margin-left{
  margin-left: 15px;
}

.block__right hr{
    border-top: 1px dotted #222223;
    width: 380px;
}

.moreinfo{
  margin-right: 5px;
  margin-top: 5px;
}

.moreinfo img{
    margin-right: 5px;
    margin-top: 1px;
    float: left;
}

.title__moreinfo{
  color: white;
}

.footer{
    clear: both;
    width: 670px;
}

.footer hr{
    border-top: 1px dotted #222223;
    width: 670px;
}

.block_right a {
  text-decoration: none;
}