body{
  font-family: Georgia, "Times New Roman", Times, serif; 
  font-size: 14px; 
  margin: 0px; 
}

.page{
  width: 500px; 
  margin: 0 auto; 
  border: 1px solid #0033FF; 
  padding-bottom: 6px; 
}

.user_avatar{
  float: left; 
  margin-left: 14px; 
  margin-right: 5px; 
  width: 90px;
  height: 100px;
}

.title_profile{
  line-height: 1.24;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 2px;
  background-repeat: no-repeat; 
  background-position: bottom; 
  background-image: url("../images/shadowTitle.png");
  background-size: 498px 15px;
}

.user_info{
  height: 105px;
  overflow: scroll;
  padding-left: 10px;
}

.title_fact{
  margin-top: 15px;
  padding-left: 2px;
}

.user_fact{
  margin-right: 60px;
}

ul{
  list-style: none;
  margin-bottom: 50px;
  padding-left: 50px;
}

li::before{
  content: url("../images/star.png");
  margin-right: 4px; 
}

.comment_posted{
  position:relative;
  height:60px;
}

.comment_content:after{
  position:absolute;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 12px solid #ECECEC;
  height:0;
  width:0;
  top:100%;
  left:4%;
  content: "";
}
  
.comment_content{
  position:absolute;
  background-color:#ECECEC;
  width:475px; 
  padding-top:5px;
  padding-bottom:5px;
  line-height:1.07;
  margin-left:2px;
  padding-left:20px;
}
  
.comment_detail{
  position:absolute;
  top:44px;
  left:55px;
  font-size:13px;
  line-height:1.23;
}

.form_title{
  font-size:17px;
  line-height:0.6;
  margin-bottom:3px;
  margin-top:30px;
  text-align:center;
}

.form_label {
  width: 106px;
  line-height:10px;
}

.form_textarea {
  width: 380px;
  height:84px;
  line-height:0.6;
}

.row{
  margin-top:3px;	
  margin-left:5px;
  display: flex;
  align-items: center;
}

a:link {
  text-decoration: none;
}
  
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}